<div class="text-center">
  <h1 class="text-center mt-3">Result</h1>
  <h2><%= @words["word"].capitalize %></h2>
  <div class="badge badge-primary">
  <%= link_to "Play again", new_path %>
  </div>
</div>
